contracts/src/artifacts/
node_modules/
.deps/
artifacts/
bin/
backend/cache/
backend/.env
backend/node_modules/
backend/.env.local
backend/.env.json
backend/contract-address.txt
izanagi_frontend/.env
izanagi_frontend/.env.json
backend/contract-address-mumbai.txt
