{
  "privateKey":"YOUR PRIVATE KEY, WHICH WILL BE USED ON MUMBAI NETWORK E.G. TO DEPLOY",
  "polygonMumbaiRPC":"https://matic-mumbai.chainstacklabs.com",
  "privateKeyLocalhost":"YOUR PRIVATE KEY, WHICH WILL BE USED ON LOCALHOST"
}
